<!-- <div>
    <h1>Login</h1>
</div>
<form [formGroup]="loginForm" (ngSubmit)="checkLogin()">
    <div>
        <label for="email">Email: </label>
        <input type="text" [formControl]="email">
        <span style="color: red" *ngIf="loginForm.get('email')?.errors?.['required']">
            User email is required
        </span>
        <span style="color: red" *ngIf="loginForm.get('email')?.errors?.['email']">
            Not a valid email
        </span>
    </div>

    <div>
        <label for="description">Password: </label>
        <input type="password" [formControl]="password">
        <span style="color: red" *ngIf="loginForm.get('password')?.errors?.['required']">
            User password is required
        </span>
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
 -->

 <div class="container-uoc">
    <form [formGroup]="loginForm" (ngSubmit)="checkLogin()">
        <section>
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput type="email" [formControl]="email" required placeholder="Ex. pat@example.com">
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                    Please, enter a valid email address
                </mat-error>
                <mat-error *ngIf="email.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </section>

        <section>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput type="password" [formControl]="password" required>
                <mat-error *ngIf="password.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>
        </section>

        <section style="text-align: center;">
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        </section>
    </form>
 </div>